.inbody{
    font-family:'sans-serif';
    width:100%;
    text-align:center;
    display:inline;
    padding:5px;
    margin-left:0px;
    border:none;
    object-fit:cover;
    flex:1;
}
body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    margin:0;
}
html{
    margin:0;
}